<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>yt.tooltip</title>
    <meta name="description" content="angular tooltip directive">
    <meta name="keywords" content="angular, tooltip, tooltips">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/cayman.css">
    <link rel="stylesheet" type="text/css" href="./yt-tooltip.min.css">
    <style type="text/css">
    .hover-list {
      padding: 30px 0 20px 0;
      text-align: center;
    }
    .hover-list > a {
      margin-right: 25px;
      font-size: 20px;
      color: #159957;
    }
    .hover-list > a:last-child {
      margin-right: 0;
    }
    </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">yt.tooltip</h1>
      <h2 class="project-tagline">Tooltip directive for angular app</h2>
      <a href="https://github.com/towry/yt-tooltip" class="btn">View on GitHub</a>
      <a href="https://github.com/towry/yt-tooltip/archive/v0.1.0.zip" class="btn">Download .zip</a>
      <a href="https://github.com/towry/yt-tooltip/archive/v0.1.0.tar.gz" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <div ng-app="YourApp" ng-cloak>
            <div class="hover-list" ng-controller="myCtrl">
                  <a href="#" ng-repeat="item in list track by $index" yt-tooltip tooltip-html="Hello <b>{{ item }}</b>">Hover{{ $index + 1 }}</a>
                  <a href="#" yt-tooltip tooltip-side="bottom" tooltip-text="Bottom">Hover4</a>
            </div>
      </div>

      <h2>Install</h2>
      <pre><code>bower install yt-tooltip --save</code></pre>
      
      <h2>Usage</h2>
      <pre><code>angular.module('YourApp', ['yt.tooltip'])
      .controller('myCtrl', ['$scope', function ($scope) {
            $scope.list = [
                  'towry',
                  'jack',
                  'foo'
            ];
      }]);</code></pre>
      <pre><code>&lt;div ng-app=&quot;YourApp&quot;&gt;
  &lt;div ng-controller=&quot;myCtrl&quot;&gt;
    &lt;a href=&quot;#&quot; ng-repeat=&quot;item in list track by $index&quot; yt-tooltip tooltip-html=&quot;Hello &lt;b&gt;{{ item }}&lt;/b&gt;&quot;&gt;Hover{{ $index + 1 }}&lt;/a&gt;
  &lt;/div&gt; 
&lt;/div&gt;</code></pre>

      <h2>Feature</h2>

      <ul>
            <li>Lightweight, for the most simple needs.</li>
            <li>Browser support: IE9+</li>
            <li>Only 1.9Kb size</li>
      </ul>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/towry/yt-tooltip">yt.tooltip</a> is maintained by <a href="https://github.com/towry">towry</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

    <script src="./yt-tooltip.min.js"></script>
    <script type="text/javascript">
    angular.module('YourApp', ['yt.tooltip'])
      .controller('myCtrl', ['$scope', function ($scope) {
            $scope.list = [
                  'towry',
                  'jack',
                  'foo'
            ];
      }]);
    </script>
  </body>
</html>
